{% extends "base.html" %}

{% block content %}
    <h1>Add Game</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <h3>Players</h3>
        <div id="players-fields">
            {% for player_form in form.players %}
                <div class="field-list-item player-fields">
                    <div>
                        {{ player_form.player.label }}
                        {{ player_form.player() }}
                    </div>
                    <div>
                        {{ player_form.deck.label }}
                        {{ player_form.deck() }}
                    </div>
                    <div>
                        {{ player_form.borrowed.label }}
                        {{ player_form.borrowed() }}
                    </div>
                    <div class="borrowed">
                        {{ player_form.lender.label }}
                        {{ player_form.lender() }}
                    </div>
                    <div>
                        {{ player_form.early_fast_mana.label }}
                        {{ player_form.early_fast_mana() }}
                    </div>
                    <div style="grid-column: 1 / -1;">
                        <button type="button" class="remove-player">Remove</button>
                    </div>
                </div>
            {% endfor %}
        </div>
        <br>
        <div>
            <button type="button" id="add-player">Add another player</button>
        </div>

        <h3>Game Stats</h3>
        <p>{{ form.winner.label }} {{ form.winner() }}</p>
        <p>{{ form.first.label }} {{ form.first() }}</p>
        <p>{{ form.turns.label }} {{ form.turns(size=5) }}</p>
        <p>{{ form.date.label }} {{ form.date() }}</p>
        <p>{{ form.final_blow.label }} {{ form.final_blow() }}</p>
        <p>{{ form.planechase.label }} {{ form.planechase() }}</p>

        <h3>Deck Tracking</h3>
        <p>{{ form.fun.label }} {{ form.fun(size=5) }}</p>
        <p>{{ form.performance.label }} {{ form.performance(size=5) }}</p>
        <p>{{ form.mulligan.label }} {{ form.mulligan(size=5) }}</p>
        <p>{{ form.landdrops.label }} {{ form.landdrops(size=5) }}</p>
        <p>{{ form.comment.label }} {{ form.comment(rows=4, cols=50) }}</p>

        <p>{{ form.enough_mana.label }} {{ form.enough_mana() }}</p>
        <p>{{ form.enough_gas.label }} {{ form.enough_gas() }}</p>
        <p>{{ form.deckplan.label }} {{ form.deckplan() }}</p>
        <p>{{ form.unanswered_threats.label }} {{ form.unanswered_threats() }}</p>
        <p>{{ form.loss_without_answer.label }} {{ form.loss_without_answer() }}</p>
        <p>{{ form.selfmade_win.label }} {{ form.selfmade_win() }}</p>

        <p>{{ form.submit }}</p>
    </form>

    <script>
        function add_player_list(player_id) {
            const player = {{ player |tojson }}
            var dropdown = document.getElementById("players-".concat(player_id,"-player"));
            var borrowed = document.getElementById("players-".concat(player_id,"-lender"));
            for(let i = 0; i< player.length; i++) {
                var option = document.createElement('option');
                option.text = option.value = player[i];
                dropdown.add(option, 0);
            }
            for(let i = 0; i< player.length; i++) {
                var option = document.createElement('option');
                option.text = option.value = player[i];
                borrowed.add(option, 0);
            }
        }

        function add_deck_list(player_id) {
            const decks = {{ decks |tojson }}
            var dropdown = document.getElementById("players-".concat(player_id,"-deck"));

            dropdown.innerHTML="";

            for(let i = 0; i< decks.length; i++) {
                if (document.getElementById("players-".concat(player_id,"-borrowed")).checked) {
                    if(decks[i][2] === document.getElementById("players-".concat(player_id,"-lender")).value) {
                    var option = document.createElement('option');
                    option.text = option.value = decks[i][0].concat(" (", decks[i][1], ")");
                    dropdown.add(option, 0);
                    }
                } else {
                    if (decks[i][2] === document.getElementById("players-".concat(player_id, "-player")).value) {
                        var option = document.createElement('option');
                        option.text = option.value = decks[i][0].concat(" (", decks[i][1], ")");
                        dropdown.add(option, 0);
                    }
                }
            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            const playersContainer = document.getElementById('players-fields');
            const addPlayerButton = document.getElementById('add-player');
            const maxPlayers = {{ form.players.max_entries }};
            const minPlayers = {{ form.players.min_entries }};
            let currentPlayers = {{ form.players|length }};

            for (let i = 0; i<currentPlayers; i++) {
                add_player_list(i)
                add_deck_list(i)

                var dropdown = document.getElementById("players-".concat(i,"-player"));
                dropdown.addEventListener("change", function() {
                    add_deck_list(i)
                })

                var borrowed = document.getElementById("players-".concat(i,"-lender"));
                borrowed.addEventListener("change", function() {
                    if (document.getElementById("players-".concat(i,"-borrowed")).checked) {
                        add_deck_list(i)
                    }
                })

                var borrowed = document.getElementById("players-".concat(i,"-borrowed"));
                borrowed.addEventListener("change", function() {
                    add_deck_list(i)
                })
            }


            addPlayerButton.addEventListener('click', function () {
                if (currentPlayers < maxPlayers) {
                    const playerIndex = currentPlayers;
                    currentPlayers++;

                    const playerField = document.createElement('div');
                    playerField.classList.add('field-list-item', 'player-fields');
                    playerField.innerHTML = `
                        <p><label for="players-${playerIndex}-player">Player</label>
                        <select name="players-${playerIndex}-player" id="players-${playerIndex}-player"></p></select>
                        <p><label for="players-${playerIndex}-deck">Deck</label>
                        <select name="players-${playerIndex}-deck" id="players-${playerIndex}-deck"></p></select>
                        <p><label for="players-${playerIndex}-borrowed">Borrowed</label>
                        <input type="checkbox" name="players-${playerIndex}-borrowed" id="players-${playerIndex}-borrowed"></p>
                        <p><label for="players-${playerIndex}-lender">Geliehen von</label>
                        <select name="players-${playerIndex}-lender" id="players-${playerIndex}-lender"></p></select>
                        <p><label for="players-${playerIndex}-early_fast_mana">Early Fast Mana</label>
                        <input type="checkbox" name="players-${playerIndex}-early_fast_mana" id="players-${playerIndex}-early_fast_mana"></p>
                        <button type="button" class="remove-player">Remove</button>
                    `;
                    playersContainer.appendChild(playerField);
                    add_player_list(currentPlayers-1)
                    add_deck_list(currentPlayers-1)
                    var dropdown = document.getElementById("players-".concat(currentPlayers-1,"-player"));

                    dropdown.addEventListener("change", function() {
                        add_deck_list(currentPlayers-1)
                    })

                    var borrowed = document.getElementById("players-".concat(currentPlayers-1,"-lender"));
                    borrowed.addEventListener("change", function() {
                        if (document.getElementById("players-".concat(currentPlayers-1,"-borrowed")).checked) {
                            add_deck_list(currentPlayers-1)
                        }
                    })

                    var borrowed = document.getElementById("players-".concat(currentPlayers-1,"-borrowed"));
                    borrowed.addEventListener("change", function() {
                        add_deck_list(currentPlayers-1)
                    })




                    const removeButtons = document.querySelectorAll('.remove-player');
                    removeButtons.forEach(button => {
                        button.addEventListener('click', function () {
                            if (currentPlayers > minPlayers) {
                                button.parentElement.remove();
                                currentPlayers--;
                            }
                        });
                    });
                }
            });

            const removeButtons = document.querySelectorAll('.remove-player');
            removeButtons.forEach(button => {
                button.addEventListener('click', function () {
                    if (currentPlayers > minPlayers) {
                        button.parentElement.remove();
                        currentPlayers--;
                    }
                });
            });
        });
    </script>
{% endblock %}
