{% extends "base.html" %}

{% block content %}
    <h1>Add Game</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        <input type="hidden" id="max-players" value="{{ form.players.max_entries }}">
        <input type="hidden" id="min-players" value="{{ form.players.min_entries }}">
        <input type="hidden" id="initial-player-count" value="{{ form.players|length }}">

        <h3>Players</h3>
        <div id="players-fields">
            {% for player_form in form.players %}
                <div class="field-list-item player-fields">
                    <div>
                        {{ player_form.player.label }} {{ player_form.player() }}
                    </div>
                    <div>
                        {{ player_form.deck.label }} {{ player_form.deck() }}
                    </div>
                    <div>
                        {{ player_form.borrowed.label }} {{ player_form.borrowed() }}
                    </div>
                    <div>
                        {{ player_form.lender.label }} {{ player_form.lender() }}
                    </div>
                    <div>
                        {{ player_form.early_fast_mana.label }} {{ player_form.early_fast_mana() }}
                    </div>
                    <div style="grid-column: 1 / -1;">
                        <button type="button" class="remove-player">Remove</button>
                    </div>
                </div>
            {% endfor %}
        </div>

        <br>
        <div><button type="button" id="add-player">Add another player</button></div>

        <h3>Game Stats</h3>
        <p>{{ form.winner.label }} {{ form.winner() }}</p>
        <p>{{ form.first.label }} {{ form.first() }}</p>
        <p>{{ form.date.label }} {{ form.date() }}</p>
        <p>{{ form.turns.label }} {{ form.turns(size=5) }}</p>
        <p>{{ form.final_blow.label }} {{ form.final_blow() }}</p>
        <p>{{ form.first_ko_turn.label }} {{ form.first_ko_turn(size=5) }}</p>
        <p>{{ form.first_ko_by.label }} {{ form.first_ko_by() }}</p>
        <p>{{ form.planechase.label }} {{ form.planechase() }}</p>

        <h3>Deck Tracking</h3>
        <p>{{ form.fun.label }} {{ form.fun(size=5) }}</p>
        <p>{{ form.performance.label }} {{ form.performance(size=5) }}</p>
        <p>{{ form.mulligan.label }} {{ form.mulligan(size=5) }}</p>
        <p>{{ form.landdrops.label }} {{ form.landdrops(size=5) }}</p>
        <p>{{ form.comment.label }} {{ form.comment(rows=4, cols=50) }}</p>

        <p>{{ form.fun_moments.label }} {{ form.fun_moments() }}</p>
        <p>{{ form.enough_mana.label }} {{ form.enough_mana() }}</p>
        <p>{{ form.enough_gas.label }} {{ form.enough_gas() }}</p>
        <p>{{ form.deckplan.label }} {{ form.deckplan() }}</p>
        <p>{{ form.unanswered_threats.label }} {{ form.unanswered_threats() }}</p>
        <p>{{ form.loss_without_answer.label }} {{ form.loss_without_answer() }}</p>
        <p>{{ form.selfmade_win.label }} {{ form.selfmade_win() }}</p>

        <p>{{ form.submit }}</p>
    </form>

    <!-- JSON data for JS -->
    <script id="player-data" type="application/json">{{ player | tojson }}</script>
    <script id="deck-data" type="application/json">{{ decks | tojson }}</script>
    <script src="{{ url_for('static', filename='js/GameAdd.js') }}"></script>
{% endblock %}
