{% extends "base.html" %}

{% block content %}
    <main>
        <section id="player-stats">
            <h2>Player Stats</h2>
            <table id="player-stats-table">
                <thead>
                    <tr>
                        <th data-type="string">Name</th>
                        <th data-type="number">Games</th>
                        <th data-type="number">Early <br>Sol Ring</th>
                        <th data-type="number">Sol Ring <br>(in %)</th>
                        <th data-type="number">Wins</th>
                        <th data-type="number">Winrate <br>(in %)</th>
                        <th data-type="number">First</th>
                        <th data-type="number">First <br>(in %)</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- Player stats data will be populated here -->
                </tbody>
            </table>
        </section>
    </main>
    <script>
        function encode(Deck) {
            return encodeURIComponent(Deck);
        }
        document.addEventListener('DOMContentLoaded', function() {
            // Fetch and populate Player Stats table
            fetch('/api/data')
                .then(response => response.json())
                .then(data => populateTable('player-stats-table', data));

            // Function to populate tables
            function populateTable(tableId, data) {
                const tbody = document.querySelector(`#${tableId} tbody`);
                const headers = document.querySelectorAll(`#${tableId} thead th`);
                tbody.innerHTML = ''; // Clear existing table data
                let Deck = 'Dummy';
                data.forEach(item => {
                    const row = document.createElement('tr');
                    row.innerHTML = Array.from(headers).map(header => {
                        if (header.textContent.trim() == ''){
                            let URL= encode(Deck)
                            return `<td><a id="${Deck}-link" href="/decks/edit/${URL}">Bearbeiten</a></td>`
                        }
                        const key = header.textContent.trim();
                        return `<td>${item[key] || ''}</td>`;
                    }).join('');
                    tbody.appendChild(row);
                });
            }

            // Sort table functionality
            const getCellValue = (tr, idx) => tr.children[idx].innerText || tr.children[idx].textContent;

            const comparer = (idx, asc, type) => (a, b) => ((v1, v2) =>
                v1 !== '' && v2 !== '' && (type === 'number' ? (parseFloat(v1) - parseFloat(v2)) : v1.toString().localeCompare(v2))
            )(getCellValue(asc ? a : b, idx), getCellValue(asc ? b : a, idx));

            document.querySelectorAll('th').forEach(th => th.addEventListener('click', function() {
                const table = th.closest('table');
                const tbody = table.querySelector('tbody');
                Array.from(tbody.querySelectorAll('tr'))
                    .sort(comparer(Array.from(th.parentNode.children).indexOf(th), this.asc = !this.asc, th.getAttribute('data-type')))
                    .forEach(tr => tbody.appendChild(tr));
            }));
        });
    </script>
{%  endblock %}