<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Magic: The Gathering Stats</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
        <nav>
            <ul>
                <li><a href="{{ url_for('main.index') }}">Home</a></li>
                <li>
                    <a href="javascript:void(0)">Stats</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('stats.playerstats') }}">Player</a>
                        <a href="{{ url_for('stats.colorstats') }}">Color</a>
                        <a href="{{ url_for('stats.deckstats') }}">Deck</a>
                    </div>
                </li>
                <li><a href="{{ url_for('cards.card_meta') }}">Kartenmeta</a></li>
                <li>
                    <a href="javascript:void(0)">Add</a>
                    <div class="dropdown-content">
                        <a href="{{ url_for('stats.player_add') }}">Player</a>
                        <a href="{{ url_for('stats.deck_add') }}">Deck</a>
                        <a href="{{ url_for('stats.game_add') }}">Game</a>
                    </div>
                </li>
                {% if current_user.is_anonymous %}
                    <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                {% else %}
                    <li><a href="{{ url_for('main.user', username=current_user.username) }}">Profile</a></li>
                    <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                {% endif %}
            </ul>
        </nav>

    <main>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Magic: The Gathering Stats. All rights reserved.</p>
    </footer>

</body>
</html>
