{% extends "base.html" %}

{% block head %}
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/basic.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-annotation@1.1.1/dist/chartjs-plugin-annotation.min.js"></script>
    <script defer src="{{ url_for('static', filename='js/dashboard.js') }}"></script>
</head>
{% endblock %}

{% block content %}
<main>
    <h1>Metainformationen</h1>
    <div class="deckpage">
        <div id="charts">
            <canvas id="likelihoodChart" width="300" height="200"></canvas>
            <canvas id="averageChart" width="300" height="200"></canvas>
            <canvas id="deckPercentageChart" width="300" height="200"></canvas>
        </div>
        <div id="charts">
            <canvas id="turnsChart" width="300" height="200"></canvas>
            <canvas id="koturnsChart" width="300" height="200"></canvas>
            <div class="metadata-box">
                <div><span class="metainfo">Average Turns:</span> {{ avg_turns }} </div>
                <span class="metainfo">Median Turns:</span> {{ median_turns }}
            </div>

            <div class="metadata-box">
                <div><span class="metainfo">Average First KO:</span> {{ avg_ko_turns }} </div>
                <span class="metainfo">Median First KO:</span> {{ median_ko_turns }}
            </div>
        </div>
<div id="charts">
        <div id="final-blow-chart-container" class="chart-box">
            <canvas id="finalBlowChart" width="350" height="350"></canvas>
        </div>
        <div id="final-blow-chart-container" class="chart-box">
            <canvas id="firstKoChart" width="350" height="350"></canvas>
        </div>
    </div>
    </div>
    <script type="application/json" id="color-usage-data">
        {{ color_usage | tojson }}
    </script>
    <script type="application/json" id="turn-data">
        {{ turn_data | tojson }}
    </script>
    <script type="application/json" id="ko-turn-data">
        {{ ko_turn_data | tojson }}
    </script>
    <script type="application/json" id="final-blow-data">
        {{ final_blow_data | tojson }}
    </script>
    <script type="application/json" id="first-ko-data">
        {{ first_ko_data | tojson }}
    </script>
</main>
{% endblock %}
